<div class="drag-drop-mapper" layout="row">

	<div flex="55">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="CSV Fields">
				<md-content style="padding-top:0px">
					<div class="map-list">
						<div class="map-bag" ng-repeat="item in map track by $index">
							<header ng-class="{required: item.required === true}">{{item.text}}</header>
							<div class="drop-zone" dragula-model="map[$index]" dragula='"dragbag"' data-index="{{$index}}">
								<!-- <p style="margin:1em"><i>Drag and drop a filed here</i></p> -->
							</div>
						</div>
						<div class="map-bag">
							<header>Text</header>
							<div class="drop-zone" dragula='"dragbag"' data-index="{{$index}}">
								<md-list-item class="source-item" data-index="{{item.id}}">
									<p>Contact Name</p>
									<md-icon class="md-secondary">perm_identity</md-icon>
								</md-list-item>
							</div>
							<header>Text</header>
							<div class="drop-zone" dragula='"dragbag"' data-index="{{$index}}">
								<md-list-item class="source-item" ng-repeat="item in peoplefields | filter:searchtext | filter: {module :'People'} as peopleFiltered"
								 data-index="{{item.id}}">
									<p>{{item.name}}</p>
									<md-icon class="md-secondary">perm_identity</md-icon>
								</md-list-item>
							</div>
						</div>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</div>

	<div flex="40" flex-offset="5">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab>
				<md-tab-label>
					<md-tooltip>People</md-tooltip>
					<i class="material-icons">person</i>
					<span class="badge badge-pill">{{peopleFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: -6px; position:relative;">People</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' dragula-model="peoplefields" class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in peoplefields | filter:searchtext | filter: {module :'People'} as peopleFiltered"
							 data-index="{{item.id}}">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">perm_identity</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Deals</md-tooltip>
					<i class="material-icons">attach_money</i>
					<span class="badge badge-pill">{{dealsFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: 0px;">Deals</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' dragula-model="dealfields" class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in dealfields | filter:searchtext as dealsFiltered" data-index="{{item.id}}">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">attach_money</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Companies</md-tooltip>
					<i class="material-icons">business</i>
					<span class="badge badge-pill">{{companiesFiltered.length}}</span>
					<!-- <div style="font-size: 9px; top: -6px; position: relative;">Companies</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' dragula-model="companyfields" class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in companyfields | filter:searchtext | filter: {module :'Company'} as companiesFiltered"
							 data-index="{{item.id}}">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">business</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Activities</md-tooltip>
					<i class="material-icons">event</i>
					<span class="badge badge-pill">{{activitiesFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: -8px;position: relative;">Activities</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' dragula-model="activityfields" class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in activityfields | filter:searchtext | filter: {module :'Activity'} as activitiesFiltered"
							 data-index="{{item.id}}">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">event</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</div>
</div>