<div class="drag-drop-mapper" layout="row">
	<div flex="55">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab>
				<md-tab-label>
					<md-tooltip>csv fields</md-tooltip>
					<!-- <i class="material-icons">file</i> -->
					<p>csv Fields </p>
					<!-- <span class="badge badge-pill">{{csvHeaderList.length}}</span> -->
					<!-- <div style="font-size: 9px;top: -6px; position:relative;">People</div> -->
				</md-tab-label>
				<md-tab-body style="padding-top:0px">
					<div class="map-list">
						<div class="map-bag" ng-repeat="item in csvHeaderList track by $index">
							<header ng-class="{required: item.required === true}">{{item.text}}</header>
							<div class="drop-zone" dragula='"dragbag"' data-index="{{$index}}">
								<!-- <p style="margin:1em"><i>Drag and drop a filed here</i></p> -->
								<md-list-item ng-if="item.mapValue!=null" class="source-item" data-index="{{item.id}}">
									<p>{{item.mapValue.name}}</p>
									<!-- <ng-md-icon ng-if="item.mapValue.module=='Deal'" class="md-secondary" icon="info" size="16" style="float:left;fill:#479BFF;margin-right: 5px;"></ng-md-icon> -->
									<md-icon ng-if="item.mapValue.module=='Deal'" class="md-secondary">attach_money
									</md-icon>
									<md-icon ng-if="item.mapValue.module=='People'" class="md-secondary">perm_identity
									</md-icon>
									<md-icon ng-if="item.mapValue.module=='Company'" class="md-secondary">business
									</md-icon>
									<md-icon ng-if="item.mapValue.module=='Activity'" class="md-secondary">event
									</md-icon>
								</md-list-item>
							</div>
						</div>
					</div>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</div>

	<div flex="45" flex-offset="5" style="padding-left:5%; border-left:2px solid #cccccc;">
		<md-tabs style="position:sticky" md-dynamic-height md-border-bottom>
			<md-tab>
				<md-tab-label>
					<md-tooltip>People</md-tooltip>
					<i class="material-icons">person</i>
					<span class="badge badge-pill">{{peopleFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: -6px; position:relative;">People</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in peopleFields | filter:searchText as peopleFiltered"
							 data-index="{{item.id}}" data-module="People">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">perm_identity</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Deals</md-tooltip>
					<i class="material-icons">attach_money</i>
					<span class="badge badge-pill">{{dealsFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: 0px;">Deals</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in dealFields | filter:searchText as dealsFiltered"
							 data-module="Deal" data-index="{{item.id}}">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">attach_money</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Companies</md-tooltip>
					<i class="material-icons">business</i>
					<span class="badge badge-pill">{{companiesFiltered.length}}</span>
					<!-- <div style="font-size: 9px; top: -6px; position: relative;">Companies</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in companyFields | filter:searchText as companiesFiltered"
							 data-index="{{item.id}}" data-module="Company">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">business</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
			<md-tab>
				<md-tab-label>
					<md-tooltip>Activities</md-tooltip>
					<i class="material-icons">event</i>
					<span class="badge badge-pill">{{activitiesFiltered.length}}</span>
					<!-- <div style="font-size: 9px;top: -8px;position: relative;">Activities</div> -->
				</md-tab-label>
				<md-tab-body>
					<div class="fields-list">
						<md-list dragula='"dragbag"' class="source-bag">
							<md-list-item class="source-item" ng-repeat="item in activityFields | filter:searchText as activitiesFiltered"
							 data-index="{{item.id}}" data-module="Activity">
								<p>{{item.name}}</p>
								<md-icon class="md-secondary">event</md-icon>
							</md-list-item>
						</md-list>
					</div>
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</div>
</div>