<!-- <md-content class="buzz-import" layout="row" layout-xs="column">

	<div style="display:inline;" flex="30">
		<md-list>
			<md-list-item style="border-bottom:solid 1px #bebebe;" class="md-2-line" ng-repeat="field in csvHeaderFields">
				<div class="md-list-item-text">
					<h3>{{field}}</h3>
					<p>Mandatary Field</p>
				</div>
			</md-list-item>
		</md-list>
	</div>

	<div style="display:inline;" flex="30">
		<md-list dragula='"first-bag"' dragula-model='csvInitialMapping'>
			<md-list-item style="border-bottom:solid 1px #bebebe;" class="md-2-line" title="{{item.name}}" ng-repeat="item in csvInitialMapping">
				<div class="md-list-item-text">
					<h3>{{item.name}}</h3>
				</div>
				<md-icon class="md-secondary material-icons">warning</md-icon>
			</md-list-item>
		</md-list>
	</div>

	<div style="display:inline; min-height:100px" flex="40">
		<md-list dragula='"first-bag"' dragula-model='workflowFields'>
			<md-list-item style="border-bottom:solid 1px #bebebe;" title="{{field}}" class="md-2-line" ng-repeat="field in workflowFields">
				<div class="md-list-item-text">
					<h3>{{field.name}}</h3>
					<p>Mandatary Field</p>
				</div>
				<md-icon class="md-secondary material-icons">warning</md-icon>
			</md-list-item>
		</md-list>
	</div>
</md-content> -->