/* SCROLLBAR */
/* Let's get this party started */
body{
	font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ccc;
	border: 4px solid transparent;
	background-clip: content-box; /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cccccc;
	border: 1px solid rgb(122, 122, 122), 224);
}
#import-container .md-button{
		border-radius:25px;
		padding:0px 15px !important;
		font-weight: 600;
}

#import-container .info-box {
	font-size: 12px;
	padding: 10px;
	margin: 20px 10px 10px 10px;
	line-height: 18px;
	border: 1px solid #c4c4c4;
	background: white;
}

#import-container .info-icon {
	float: left;
	fill: #479bff;
	margin-right: 5px;
}

#import-container .success-icon {
	fill: #5cb85c;
}

#import-step-container {
	margin: 8px 0;
}

#import-content-container {
	margin: -16px 0 0 0;
}

#import-navigation-container {
	border-top: 1px solid #eee;
	margin: 20px 0;
	/* padding-top: 20px; */
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 26px;
	line-height: 1;
	color: #454cad;
	margin-bottom: 0;
}

p {
	font-family: "Roboto", sans-serif;
}
.container {
	margin: 10px;
}
.uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}
.uploader label {
	float: left;
	clear: both;
	width: 100%;
	padding: 8rem 1.5rem;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px dashed rgb(192, 192, 192);
	transition: all 0.2s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.uploader label:hover {
	border-color: #454cad;
}
.uploader label.hover {
	border: 3px solid #454cad;
	box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.3;
}
.uploader #start {
	float: left;
	clear: both;
	width: 100%;
}
.uploader #start.hidden {
	display: none;
}
.uploader #start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all 0.2s ease-in-out;
}
.uploader input[type="file"] {
	display: none;
}
.uploader div {
	margin: 0 0 0.5rem 0;
	color: #5f6982;
}
.uploader .btn {
	display: inline-block;
	margin: 0.5rem 0.5rem 1rem 0.5rem;
	clear: both;
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	text-transform: initial;
	border: none;
	border-radius: 0.2rem;
	outline: none;
	padding: 0 1rem;
	height: 36px;
	line-height: 36px;
	color: #fff;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	background: #454cad;
	border-color: #454cad;
	cursor: pointer;
}

.pull-left {
	float: left;
}

.import-wizard-steps li {
	display: block;
	background: rgba(4, 4, 4, 0.1);
	position: relative;
	float: left;
	--box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2rem;
	--border-top: 0.01rem solid rgba(230, 230, 230, 0.2);
	--border-left: 0rem solid rgba(0, 0, 0, 0.02);
	--border-right: 0rem solid rgba(0, 0, 0, 0.02);
}

.import-wizard-steps li a {
	color: rgb(90, 77, 77);
	padding-left: 2.4rem;
	padding-left: 1.6rem;
}

.import-wizard-steps li:first-of-type a {
	padding-left: 1.6rem;
}

.import-wizard-steps li:last-of-type a {
	padding-right: 1.6rem;
}

.import-wizard-steps li:last-of-type a:before,
.import-wizard-steps li:last-of-type a:after {
	visibility: hidden;
}

.import-wizard-steps a:before,
.import-wizard-steps a:after {
	z-index: 1;
	height: 50%;
	width: 1rem;
	right: 0%;
	margin-right: -0.5rem;
	padding: 0;
	display: block;
	content: "";
	background: inherit;
	position: absolute;
	transform: skewX(20deg);
	box-shadow: 0.2rem 0 0 0 rgba(0, 0, 0, 0.2);
	/*
	 box-shadow: inset 2px 0px 5px 2px rgba(50, 50, 50, 0.75); 
	 */
	border-radius: 80% 0.1rem 0 0;
	border: solid rgba(255, 255, 255, 0.9);
	border-width: 0 0.3rem 0 0;
}

.import-wizard-steps a:before {
	top: 0%;
}

.import-wizard-steps a:after {
	transform: skewX(-20deg);
	border-radius: 0 0 0.1rem 80%;
	border-width: 0 0.3rem 0 0;
	bottom: 0%;
	box-shadow: 0.2rem 0 0 0 rgba(0, 0, 0, 0.3);
}

.import-wizard-steps a > * {
	cursor: pointer;
}

.import-wizard-steps a {
	cursor: pointer;
	display: block;
	position: relative;
	padding: 1rem 1.2rem 1rem 1.6rem;
	border-radius: 0.15rem 0.15rem 0.15rem 0.15rem;
	background: #eee;
	/*
	border: solid .0rem rgba(255,255,255,.2);
	border: solid .1rem rgba(0,0,0,.05);
	*/
	border-left: solid 0.1rem rgba(100, 100, 100, 0.1);
	border-right: solid 0.1rem rgba(100, 100, 100, 0.1);
	border-top: solid 0.1rem rgba(0, 0, 0, 0.1);
	border-bottom: solid 0.1rem rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 0.2rem 1px rgba(0, 0, 0, 0.1),
		inset 0px 0px 0px 1px rgba(250, 250, 250, 0.1);
}

.import-wizard-steps a {
	transition: background-color 0.1s ease, color 0.3s ease;
}
